@model ContactViewModel

@{
    ViewData["Title"] = Resource.Contact_Us;
    Layout = "~/Views/Shared/_PostLayout.cshtml";
}
@section breadcrumb{
    <li><a href="@Url.Action("Index","Home")">@Resource.Home</a></li>
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert" style="top: 30px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
        @TempData["success"]
    </div>
}
<div class="container py-5" data-aos="fade-up">
    <div class="row">
        <form asp-action="Index" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="@Resource.Send" class="btn btn-block btn-outline-info" />
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
